<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="h1 mt-16">Change Password</div>
    </div>
  </div>

  <div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

        <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" (ngSubmit)="save(form.value)" name="form" [formGroup]="form" style="width: 100%;">

            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutWrap>

                <mat-form-field fxFlex="25">
                  <input matInput placeholder="Old Password" type="password" formControlName="oldPassword" required>
                    <mat-error *ngIf="formErrors.oldPassword.required">
                        Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="25">
                  <input matInput placeholder="New Password" type="password" formControlName="newPassword" required>
                    <mat-error *ngIf="formErrors.oldPassword.required">
                        Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="25">
                  <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" required>
                    <mat-error *ngIf="formErrors.oldPassword.required">
                        Required
                    </mat-error>
                </mat-form-field>
            </div>


              <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div class="button-row">
                  <button mat-raised-button class="mat-accent" type="submit">
                    Submit
                  </button>
                  <a mat-raised-button (click)="goback()">
                    Back
                  </a>
                </div>
              </div>

        </form>
    </div>
    <!-- / CONTENT -->
  </div>

<!-- <div class="row">
  <div class="col-sm-6">
      <div class="card">
        <form [formGroup]="form" (ngSubmit)="save()">
          <div class="card-header">
              <i class="fa fa-align-justify"></i> Change Password
          </div>
          <div class="card-body">
              <div class="col-sm-12">
                  <div class="form-group">
                      <label>Old Password</label>
                      <input type="password" class="form-control" formControlName="oldPassword">
                      <div *ngIf="form.get('oldPassword').touched && form.get('oldPassword').hasError('required')" class="alert alert-danger">
                          Old Password is required.
                      </div>
                  </div>
                  <div class="form-group">
                      <label>New Password</label>
                      <input type="password" class="form-control" formControlName="newPassword">
                      <div *ngIf="form.get('newPassword').touched && form.get('newPassword').hasError('required')" class="alert alert-danger">
                          New Password is required.
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Confirm New Password</label>
                      <input type="password" class="form-control" formControlName="confirmPassword">
                      <div *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').hasError('required')" class="alert alert-danger">
                          Confirm New Password is required.
                      </div>
                      <div *ngIf="form.get('confirmPassword').touched && form.get('confirmPassword').hasError('notEquivalent')" class="alert alert-danger">
                          Confirm New Password does not match with New Password.
                      </div>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> Submit</button>
              <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
          </form>
      </div>
  </div>
</div> -->
