<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-12" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-16">home</mat-icon>
              <!-- <mat-icon class="secondary-text s-16">chevron_right</mat-icon> -->
              <span class="secondary-text">Home</span>
              <!-- <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Home</span> -->
          </div>
          <!-- <div class="h1 mt-16">Home</div> -->
      </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <div class="label-row">
        <span class="mat-headline">
          <mat-icon class="material-icons md-24">dashboard</mat-icon>
          Dashboard
        </span>
    </div>
    <div class="container" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="2%">
      <div class="p-16" >
        <mat-card>
          <mat-icon class="h2">tune</mat-icon>
          <span class="mat-title">On Progress Job</span>
          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div fxFlexAlign="center">
              <span class="mat-display-3 light-blue-A700-fg">{{ opj }}</span>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="p-16">
          <mat-card>
          <mat-icon class="h2">info</mat-icon>
          <span class="mat-title">Overdue Job</span>
          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div fxFlexAlign="center">
              <span class="mat-display-3 warn-A700-fg">{{ odj }}</span>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="p-16">
          <mat-card>
          <mat-icon class="h2">info</mat-icon>
          <span class="mat-title">Waiting Payment</span>
          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div fxFlexAlign="center">
              <span class="mat-display-3 green-800-fg">{{ wpay }}</span>
            </div>
          </div>
        </mat-card>
      </div>

      <div class="p-16">
          <mat-card>
          <mat-icon class="h2">warning</mat-icon>
          <span class="mat-title">Quantity Item</span>
          <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div fxFlexAlign="center">
              <span class="mat-display-3 yellow-A700-fg">{{ lqi }}</span>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="label-row">
        <span class="mat-title">
          <mat-icon class="material-icons md-24">business_center</mat-icon>
          Job Orders
        </span>
    </div>
      <ngx-datatable class="material"
      [rows]="jorow"
      [selectionType]="'single'"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [scrollbarH]="true"
      [limit]="5"
      [headerHeight]="50"
      [footerHeight]="50"
      [loadingIndicator]="loadingIndicator">
      <ngx-datatable-column name="Operator" prop="operatorName"></ngx-datatable-column>
      <ngx-datatable-column name="Customer" prop="customerName"></ngx-datatable-column>

      <ngx-datatable-column
      [width]="15"
      [sortable]="false"
      [draggable]="false"
      [resizeable]="false"
      [checkboxable]="true"
      name="Overdue">
    </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <!-- / CONTENT -->
</div>
