<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="mat-accent-bg p-24 h-12" fxLayout="column" fxLayoutAlign="top center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <div fxLayout="column" fxLayoutAlign="top center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="bottom start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start bottom">
              <mat-icon class="secondary-text s-16">settings</mat-icon>
              <span class="secondary-text s-16 pl-4">System</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Users</span>
          </div>          
      </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <div class="button-row">
      <a mat-raised-button color="accent" [routerLink]="'/users-detail'">
        Add New
      </a>

    </div>
    <ngx-datatable class="material"
      [rows]="rows"
      [selected]="selected"
      [selectionType]="'single'"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [scrollbarH]="true"
      (select)='onSelect($event)'
      [loadingIndicator]="loadingIndicator">
      <ngx-datatable-column name="#" [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
          {{rowIndex + 1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Username" [width]="50" prop="username"></ngx-datatable-column>
      <ngx-datatable-column name="Email" [width]="50" prop="email"></ngx-datatable-column>
      <ngx-datatable-column name="Action" [width]="50" [sortable]="false"  [draggable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="button-row">
              <button mat-icon-button color="primary" matTooltip="Reset Password" (click)="resetPassword(row.id)">
                <mat-icon aria-label="Edit">lock</mat-icon>
              </button>
            <button mat-icon-button color="primary" matTooltip="Edit User" [routerLink]="'/users-detail/' + row.id">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" matTooltip="Delete User" (click)="deleteRow(row)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
