<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
  <!-- HEADER -->
  <div class="mat-accent-bg p-24 h-12" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">
      <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="secondary-text s-16">work</mat-icon>
              <!-- <mat-icon class="secondary-text s-16">chevron_right</mat-icon> -->
              <span class="secondary-text pl-4 s-16">Master</span>
              <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
              <span class="secondary-text">Items</span>
          </div>          
      </div>
  </div>
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">
    <div class="button-row">
      <a mat-raised-button color="accent" [routerLink]="'/msitem-detail'">
        Add New
      </a>
      <!-- <a mat-raised-button color="accent" ([routerLink]="['msitem-detail', {{item.id}}]")>
        Edit
      </a> -->
      <!-- <button mat-raised-button color="warn" (click)="toastr()">
        Delete
      </button> -->
    </div>
    <ngx-datatable class="material"
      [rows]="rows"
      [selected]="selected"
      [selectionType]="'single'"
      [columnMode]="'force'"
      [rowHeight]="'auto'"
      [scrollbarH]="true"
      (select)='onSelect($event)'
      [loadingIndicator]="loadingIndicator">
      <ngx-datatable-column name="No." [width]="30" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
          {{rowIndex + 1}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Item Code" prop="itemCd"></ngx-datatable-column>
      <ngx-datatable-column name="Item ID" prop="id"></ngx-datatable-column>
      <ngx-datatable-column name="Name"></ngx-datatable-column>
      <ngx-datatable-column name="Description" prop="descs"></ngx-datatable-column>
      <ngx-datatable-column name="Min Qty"></ngx-datatable-column>
      <ngx-datatable-column name="Action" [width]="150" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="button-row">
            <button mat-icon-button color="primary" [routerLink]="'/msitem-detail/' + row.id">
              <mat-icon aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteRow(row)">
              <mat-icon aria-label="Delete">delete</mat-icon>
            </button>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
