<div class="page-layout simple fullwidth" fusePerfectScrollbar>
  <div class="content p-24">
    <div style='float:left;width:100%'>
        <ngx-datatable
          style="width: 100%"
          class="material"
          [rows]="rows"
          [columnMode]="'force'"
          [rowHeight]="'auto'"
          [limit]="5"
          [selected]="selected"
          [selectionType]="'checkbox'"
          (select)='onSelect($event)'>
          <ngx-datatable-column
            [width]="30"
            [sortable]="false"
            [canAutoResize]="false"
            [draggable]="false"
            [resizeable]="false"
            
            [checkboxable]="true">
          </ngx-datatable-column>
          <ngx-datatable-column name="Item ID" prop="itemCd"></ngx-datatable-column>
          <ngx-datatable-column name="Item Name" prop="name"></ngx-datatable-column>
          <ngx-datatable-column name="Min Qty" prop="minQty"></ngx-datatable-column>
        </ngx-datatable>
    </div>
    <div class='selected-column'>
      <button mat-raised-button class="mat-accent" (click)="add()">
          OK
      </button>
    </div>
  </div>
</div>
